@font-face {
   font-family: KarmaticArcade;
   src: url("../font/ka1.ttf");
}

body {
	background: url("../img/gutmain.png") no-repeat center fixed;
	background-size: cover;
}
.mainopts, .titletext {
	font-size: 40px;
    line-height: 100px;
	background: rgb(107,142,35);
	color: white;
	text-align: center;
	opacity: .9;
    font-family: KarmaticArcade;
    position: fixed;
  	top: 65%;
  	left: 50%;
  	padding-left: 10%;
  	padding-right: 10%;
  	transform: translate(-50%, -50%);

}

.titletext {
	top: 10%;
	left: 50%;
	font-size: 450%;
	background: none;
	color: black;
	opacity: 1;
}

