html, body {
  margin:0;
  padding:0;
  height: 100%; 
}

p {
  margin:0
}

#wrapper {
}
div {
  text-align:center;
  z-index: 3;
}

#header{
  background: url("/img/banner.png");
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
  height: 152px;
  width: 600px;
}
#stage{
  top: 150px;
  margin: 0px auto -100px auto;
  min-height: 100%;
}
#footer{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  height: 100%
  width: 400px;
  background-color: rgb(107,142,35);
}
#control-overlay {
  position: fixed;
  left: 0%;
  bottom: 20%;
  right: auto;
  margin: 0;
  clear: both;
  opacity: .9;
  width: 200px;
}
#loader {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 170px;
  height: 130px;
}
#loader img {
  width: 100%;
}
/* HANDLING ACTION EVENTS */

@keyframes slide_down {
	from { margin-bottom: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@-moz-keyframes slide_down, @-moz-keyframes slide_down {
	from { margin-bottom: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@-webkit-keyframes slide_down {
	from { margin-top: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@keyframes slide_up {
	from { margin-top: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@-moz-keyframes slide_up, @-moz-keyframes slide_up {
	from { margin-top: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@-webkit-keyframes slide_up {
	from { margin-top: 100%; opacity: 0; }
	to { margin-top: 0; opacity: 1; }
}
@keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-webkit-keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}
#health {
  background: rgb(107,142,35);
  color: white;
}
.food-pane {
  background: rgb(107,142,35);
  color: white;
	animation-name: slide_down;
	animation-duration: 0.75s;
	-moz-animation-name: slide_down;
	-moz-animation-duration: 0.75s;
	-webkit-animation-name: slide_down;
	-webkit-animation-duration: 0.75s;
}
.food-pane.deleted {
	animation-name: fade_out;
	animation-duration: 0.75s;
	-moz-animation-name: fade_out;
	-moz-animation-duration: 0.75s;
	-webkit-animation-name: fade_out;
	-webkit-animation-duration: 0.75s;
}
.action-event-pane {
	animation-name: slide_up;
	animation-duration: 0.75s;
	-moz-animation-name: slide_up;
	-moz-animation-duration: 0.75s;
	-webkit-animation-name: slide_up;
	-webkit-animation-duration: 0.75s;
}
.action-event-pane.deleted {
	animation-name: fade_out;
	animation-duration: 0.75s;
	-moz-animation-name: fade_out;
	-moz-animation-duration: 0.75s;
	-webkit-animation-name: fade_out;
	-webkit-animation-duration: 0.75s;
}
#action-event-panel {
  position: fixed;
  vertical-align: top;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
}
.action-event-pane {
  position: relative;
  width: 95%;
  top: 0px;
  background-color: rgb(107,142,35);
  border-radius: 10px;
}

@font-face {
   font-family: KarmaticArcade;
   src: url("../font/ka1.ttf");
}

.mainmenu {
  background: url("../img/gutmain.png") no-repeat center fixed;
  background-size: cover;
}
.mainopts, .titletext {
  font-size: 30px;
  line-height: 75px;
  background: rgb(107,142,35);
  color: white;
  text-align: center;
  opacity: .7;
  font-family: KarmaticArcade;
  position: fixed;
  left: 50%;
  top: 70%;
  padding-left: 10%;
  padding-right: 10%;
  transform: translate(-50%, -50%);

}

.titletext {
  line-height: 100px;
  top: 10%;
  left: 50%;
  font-size: 450%;
  background: none;
  color: black;
  opacity: 1;
}

.gameover {
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-family: courier;
  background-color: rgb(107,142,35);
  color: white;
}

/* Tripicker control */
.ui-control-tripicker {
	background: url('/img/tricolor.png');
	width: 256px;
	height: 208px;
	background-position-y: -48px;
	text-align: left;
}
.ui-control-tripicker-knob {
	background: url('/img/tricolor.png');
	width: 43px;
	height: 44px;
	display: inline-block;
	background-position: 0 0;
	position: relative;
}
