<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style/main.css">
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/action-event-q.js"></script>
<script type="text/javascript" src="js/game.js"></script>
<script type="text/javascript" src="js/pixi.min.js"></script>
</head>
<body>
  <div id="header">GUT FEELING</div>
  <div id="stage"></div>
  <div id="footer">z0lly T and duncan
	<p id"=curfood">Displays Current Food</p>
	<p>Time left to prepare digestion:</p>
	<p id"=count">3<p>
	<p>Nutrients (score):</p>
	<p id"=score">25</p>
	<p>Nutrient Absorbtion Rate:</p>
	<p id"=rate">10</p>
	<label for"=fader">Gastric Acid</label>
	<input type="range" class="mrslider" min="0" max="10"  value="5" step="1" id="acidslider"  oninput="outputUpdate(value, '#acid')">
	<output for="fader" id"=acid">5</output>
	<br>
	<label for"=fader"> Meat and Dairy</label>
	<input type="range" min="0" max="10" class="mrslider" value="5" id="meatslider" step="1" oninput="outputUpdate(value, '#meat')">
	<output for="meat" id"=meat">5</output>
	<br>
	<label for"=fader">Vegetables</label>
	<input type="range" class="mrslider" min="0" max="10" value="5" id="veggieslider" step="1" oninput="outputUpdate(value, '#veggie')">
	<output for="veggie" id"=veggie">5</output>
	<br>
	<label for"=fader">Carbohydrates</label>
	<input type="range" class="mrslider" min="0" max="10" value="5" id="carbsslider" step="1" oninput="outputUpdate(value, '#carbs')">
	<output for="carbs" id"=carbs">5</output>
	<br>
	<label for"=fader"> Vitamins</label>
	<input type="range" class="mrslider" min="0" max="10" value="5" id="vitaminslider" step="1" oninput="outputUpdate(value, '#vita')">
	<output for="vita" id"=vita">5</output>
	<br>
	<button class="upgrade1">Upgrade Nutrient Absorbtion (cost of 200)</button>
	<button class="upgrade2">Upgrade Slider Capacity (cost of 200)<button>
  </div>
  <div id="loader">
  </div>
</body>
</html>
