<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style/main.css">
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/flora.js"></script>
<script type="text/javascript" src="js/floraCluster.js"></script>
<script type="text/javascript" src="js/intestine.js"></script>
<script type="text/javascript" src="js/stomach.js"></script>
<script type="text/javascript" src="js/vector2.js"></script>
<script type="text/javascript" src="js/triController.js"></script>
<script type="text/javascript" src="js/action-event-q.js"></script>
<script type="text/javascript" src="js/game.js"></script>
<script type="text/javascript" src="js/pixi.min.js"></script>
</head>
<body>
</body>
</html>
