<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style/main.css">
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/game.js"></script>
<script type="text/javascript" src="js/pixi.min.js"></script>
</head>
<body>
  <div id="header">GUT FEELING</div>
  <div id="stage"></div>
  <div id="footer">z0lly T and duncan david</div>
  <div id="loader">
    <img src='http://www4.pictures.stylebistro.com/gi/Olivia+Thirlby+Short+Hairstyles+Layered+Razor+OBqMQRH6xa9x.jpg'>
  </div>
</body>
</html>
